{% extends 'main.html' %}

{% block content %}

<style>
    .button1 {
background-color: white;
color: black;
border: 2px solid #008CBA;
font-size: 20px;
width :200px;
height: 80px;
    }
    .button1:hover{
        background-color: #008CBA;
        color: white;
    }
</style>
    <h1 class="title">{% block title %} Livres {% endblock %}</h1>
    <h2><button class="button button1"><a href = "/add_livre" >Ajouter un livre</a></button></h2>
    <div class="content">
        {% for livre in livres %}
            <div class="student">
                <p><b>#{{ livre.id }}</b></p>
                <b>
                    <p class="name">{{ livre.titre }} {{ livre.description }}</p>
                </b>
                <p>{{ livre.auteur }}</p>
                <p>{{ livre.categorie }}</p>
                <p>Ajouté le : {{ livre.date_creation }}</p>
                <div class="bio">
                    <h4>Description</h4>
                    <p>{{ livre.bio }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
